body {
  text-align: center;
  margin: auto;
}

#robogers-input, #user-name {
  width: 500px;
  margin: auto;
  text-align: center;
}

#robogers-speaks, #terminator-error, #robogers-output-reversed, #after-submit{
  display: none;
}

.reverse-button {
  display: block;
  margin: auto;
}